* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family:  $font;
  @extend       .font-regular;
  position:     relative;
  height:       100%;
  padding:      0;
  margin:       0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-wrapper {
  width:      100%;
  max-width:  520px;
  margin:     0 auto;
  padding:    space(6) space(3);
}

.head-wrapper {
  text-align: center;
  padding-bottom: space(6);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  @extend .font-medium;
}

h2 {
  @extend .font-regular;
  color: color(gray,medium);
  margin: space(1) 0;
}

h3 {
  @extend           .font-regular;
  font-weight:      500;
  font-size:        18px;
  line-height:      20px;
}

p {
  color: color(gray,dark);
}

p.meta,
span.meta {
  color: color(gray,medium);
}

.link {
  cursor: pointer;
  color: color(orange, medium);
  font-weight: 400;
  padding: 0 space(1);
  &:hover {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}

