.button, .btn {
  @extend                 .font-regular;
  cursor:                 pointer;
  display:                inline-block;
  border:                 none;
  outline:                none;
  color:                  white;
  text-decoration:        none;
  padding:                space(2) space(4);
  border-radius:          $radius-base;
  background-color:       color(orange,medium);
  transition:             box-shadow 0.2s ease-in-out;
}

.button:active {
  box-shadow: inset 0px 2px 2px 1px rgba(0,0,0,0.2);
}

.button.btn-outline,
.btn.btn-outline {
  background-color:     white;
  border:               2px solid color(orange,medium);
  color:                color(orange,medium);
  font-size:            16px;
  font-weight:          400;
  &:hover {
   background-color:    color(orange,medium);
   color:               white;
   border-color:        color(orange,medium);
  }
}

.button.btn-centered,
.btn.btn-centered {
  display: block;
  margin: 0 auto;
}

.button.btn-outline:active,
.btn.btn-outline:active {
  
}

.button.secondary,
.btn.btn-secondary {
  background-color: color(green,medium);
  transition: .1s ease transform;
  &:hover {
    transform: scale(1.1);
  }
}

.button.btn-outline:disabled,
.btn.btn-outline:disabled {
  background-color:     white;
  color:                color(gray,light);
  border-color:         color(gray,light);
  
  &:active {
    box-shadow: none;
  }

  &:hover {
    transform: none;
    background-color:    white;
    color:               color(gray,light);
    border-color:        color(gray,light);
  }
}

.btn-icon {
  cursor: pointer;
  padding: 19px;
  border: 1px solid color(gray,pale);
  border-radius: calc(50%);
  transition: .1s ease transform;
  &:hover {
    transform: scale(1.1);
    background-color: color(gray,pale);
    border-color: color(gray,pale);
  }
  &:active {
    background-color: darken(color(gray,pale),3);
    border-color: darken(color(gray,pale),3);
  }
}

.btn-icon-accent {
  cursor: pointer;
  padding: 19px;
  border: 1px solid color(gray,pale);
  border-radius: calc(50%);
  transition: .1s ease transform;
  &:hover {
    transform: scale(1.1);
    background-color: color(orange,medium);
    border-color: color(orange,medium);
    svg path {
      fill: white;  
    }
  }
  &:active {
    background-color: darken(color(orange,medium),3);
    border-color: darken(color(orange,medium),3);
  }
}

.btn-icon-work {
  cursor: pointer;
  padding: 19px;
  border: 1px solid color(green,medium);
  background-color: color(green,medium);
  border-radius: calc(50%);
  transition: .1s ease transform;
  svg polygon {
    fill: white;  
    }
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    background-color: darken(color(green,medium),3);
    border-color: darken(color(green,medium),3);
  }
}